#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    
    z-index: 99;
    
  }
  /******preloader starts***************/
  #preloaderSpinnerWrapper{
  background: #fff url('patta.gif');
    position: fixed;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: center;
    background-repeat: no-repeat;
    z-index: 99999;
  }
   .wrapper {
       width: 1200px;
       margin: 0 auto;
  }